<template>
  <div>
    <carousel :perPage="3" :paginationEnabled="false" class="carouselB">
      <slide v-for="badge in badges" :key="badge.id">
        <div class="badgeCompetence shadow-xl flex flex-col justify-around">
          <img
            class="w-20 graph"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSQMjZNiKacLYulVghsPO4eTd_grEZrqK_ocaaOcjK48tpQzF9vg"
          />
          <div class="description">{{ badge.name }}</div>
        </div>
      </slide>
    </carousel>
  </div>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";
export default {
  components: {
    Carousel,
    Slide
  },
  props: ["badges"]
};
</script>

<style lang="postcss" scoped>
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
.carouselB {
  width: 100vw;
  padding: 16px;
  background: linear-gradient(#660099, #8161ff);
}

.badgeCompetence {
  height: 150px;
  border-radius: 4px;
  margin: 10px;
  background-color: #fefefe;
}

.description {
  font-family: Roboto sans-serif;
  font-weight: 600;
}
.graph {
  margin: 0 auto;
}
</style>
