<template>
  <div>
    <div id="Search-Result-list" v-for="profil in profils" :key="profil.id">
      <div class="flex">
        <img id="profilPic" class="inline-block pt-2 pl-2" :src="profil.contact.img" />
        <div id="badges" class="inline-block pt-2 pl-4 flex flex-col justify-between">
          <div v-for="badge in profil.badges" :key="badge.id" class="flex items-center" >
            <img :src="'badges/' + badge.img + '.png'"  />
            <p class="ml-4">{{ badge.name }}</p>
          </div>

        </div>
      </div>
      <div id="text">
        <div id="text-search-result">
          <h1>{{ profil.contact.firstName + ' ' + profil.contact.lastName }}</h1>
          <p>{{ profil.contact.city }}</p>
        </div>
      <div id="next" class="inline-block">Profil</div>
    </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["profils"],

  data() {
    return {
      badgeslist: [],
      firstname: '',
      desc:''
    };
  }
}
</script>

<style lang="postcss" scoped>
#profilPic {
  border-radius: 100px;
  width: 125px;
  height: 125px;
}

#Search-Result-list {
  background: rgb(224,0,224);
  background: linear-gradient(37deg, rgba(224,0,224,1) 0%, rgba(0,130,255,1) 100%);
  border-radius: 10px;
  min-height: 200px;
  padding: 5px;
  margin: 10px;
  color: white;
}

#text-search-result{
  padding: 10px;
}

#badges img{
  max-width: 5vw;
  min-width: 50px;
  height: auto;
}

#text{
  display: flex;
  justify-content: space-between
}

#next{
  padding-top: 20px;
  padding-right:20px;
}

</style>
