<template>
  <div>
    <div class="background">
      <img style="width: 100%;" src="@/static/banniere.jpg">
    </div>
    
    <div class="main-container">
  
      <div class="round">
        <img  src="@/static/téléchargement.png">
      </div>
  
      <div class="container-text" style="font-weight: bold">
        <div class="first-container-text">
          <span style="margin-left: 15% ;font-size: 1.4em"> {{profil.contact.firstName}}</span>
          <span style="margin-left: 25% ;font-size: 1.7em"> {{profil.contact.lastName}}</span>
        </div>
        <div style="margin-right: 5%;text-align: end;margin-top:20px" class="first-container-text">
          <span style="font-size: 1.1em">{{age}} ans </span>
          <span @click="mapActive = true" style="font-size: 1.1em;margin-right: 10px">{{profil.contact.city}} </span>
        </div>
      </div>

    <div class="container-CV">
      <a :href="profil.medias.linkCV" class="CV" download="CV">CV</a>
    </div>
    </div>

  </div>
</template>

<script>
  export default {
    props: ['profil'],
    data () {
      return {
        age: 0,
        mapActive: false,
        center: { lat: 49.182923, lng:  -0.372704 },
        markers: [],
        places: [],
        currentPlace: null
      }
    },
    methods: {
      calculateAge () {
        const ageInMilliseconde =  new Date().getTime() - new Date(this.profil.contact.birthday).getTime()
        const year = ageInMilliseconde / 1000 / 60  / 60 / 24 / 365.25
        this.age = year.toString().substr(0, 2) 
      }
    },
    mounted () {
      this.calculateAge()
      this.center.lat = this.profil.contact.lat
      this.center.lng = this.profil.contact.lng
    },
  }
</script>

<style>

  .background {
    width: 100%;
    height: 150px;
    overflow: hidden;
  }
  .main-container {
    width: 90%;
    margin: auto;
    border-radius: 3px;
    padding: 10px;
    margin-top: -20px;
    background-color: rgb(196, 196, 196);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .round {
    width: 150px;
    height: 150px;
    background-color: blue;
    border-radius: 100px;
    margin: auto;
    overflow: hidden;
    margin-top:-70px;
  }
  .container-text {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: -50px;

  }
  .first-container-text {
    margin-top: 2%;
    display: flex;
    flex-direction: column;

  }
  .container-CV {
    display: flex;
    justify-content: center;
  }
  .CV {
    color:white;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 15px;
    background-color: purple;
  }
  .CV:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
</style>