<template>
  <div>
    <!-- SearchBar -->
    <div style="height: 35px; margin: 5px 10px;">
      <input
        v-model="search"
        style="border: 1px solid black; margin: auto; border-radius: 5px; width: 84%; height: 90%;"
        class="boxShad"
        :style="{'background-color': checkString}"
      />
      <button
        type="button"
        class="boxShad"
        style="border-radius: 5px; width: 14%; height:90%;"
      >Valider</button>
    </div>
    <!-- Stack Bar -->
    <div class="stacker boxShad">
      <img class="badgeLog" v-for="stack in badgeStackImg" :key="stack" :src="stack" />
    </div>
    <div class="lister">
      <badge-card
        @ready="selectAction(badge)"
        :checkListP="badgeStack"
        :badge="badge"
        v-for="(badge) in badgeSearch"
        :key="badge.id"
      />
    </div>
  </div>
</template>

<script>
import BadgeCard from "@/components/BadgeCard"

export default {
  components: {
    BadgeCard
  },
  props: {
    badges: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      badgeSearch: [],
      badgeStack: [],
      badgeStackImg: [],
      badgeStackBadge: [],
      search: ""
    };
  },
  computed: {
    checkString() {
      let searchInf = this.search;
      let badgeArray = [];
      this.badges.forEach(element => {
        if (element.name.toLowerCase().search(searchInf) >= 0) {
          badgeArray.push(element);
        }
      });
      this.badgeSearch = badgeArray;
      return this.search.length < 5 ? "white" : "white";
    }
  },
  methods: {
    selectAction(badge) {
      let index = this.badgeStack.indexOf(badge.id);
      if (index >= 0) {
        this.badgeStack.splice(index, 1);
        this.badgeStackBadge.splice(index, 1);
      } else {
        this.badgeStack.push(badge.id);
        this.badgeStackBadge.push(badge);
      }
      this.refactorImgStack();
    },
    refactorImgStack(ind, badge) {
      // ind +> index of badge in img arr
      // badge +> badge value

      this.badgeStackImg = [];

      this.badgeStackBadge.forEach(element => {
        this.badgeStackImg.push(
          require("@/static/badges/" + element.img + ".png")
        );
      });
    }
  },
  mounted() {
    this.badgeSearch = this.badges;
    this.refactorImgStack();
  }
};
</script>

<style lang="postcss" scoped>
.displayer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.stacker {
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  margin: 10px 10px;
}
.boxShad {
  border-radius: 15px;
  box-shadow: 0px 0px 10px gray;
}

.badgeLog {
  margin: 5px;
  height: 80%;
}

.lister {
  /* height: 50px; */
  /* width: 350px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
</style>
